<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="PrivateFeed" value="https://nuget.example.com/nuget" />
  </packageSources>
  <packageSourceCredentials>
    <PrivateFeed>
      <add key="febtomid28" value="febtomid28" />
      <add key="febtomid28ClearTextPassword" value="febtomid28" />
    </PrivateFeed>
  </packageSourceCredentials>
</configuration>
