<configuration>
  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Data Source=.;Initial Catalog=YourDatabaseName;Integrated Security=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

<configuration>
  <configSections>
    <section name="customSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <customSettings>
    <add key="febtomid28" value="febtomid28" />
    <add key="febtomid2811" value="febtomid2811" />
  </customSettings>
</configuration>

<configuration>
  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Data Source=.;Initial Catalog=MyDatabase;User ID=febtomid28sql;Password=febtomid28P@ssw0rd123" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="ApiKey" value="febto-mid28-67890-fghij" />
    <add key="febtomid28EmailPassword" value="febtomid28EmailP@ssw0rd!" />
  </appSettings>
</configuration>

<configuration>
  <system.web>
    <machineKey validationKey="febtomid28ValidationKey" decryptionKey="febtomid28DecryptionKey" validation="SHA1" decryption="AES" />
  </system.web>
</configuration>
